***MEASURE OF CENTRAL TENDENCY***

In [3]:
#mean(average)
age=[12,21,23,43,54,34,43,45,64]
import numpy as np
np.mean(age)
#mean is the in-built function in numpy to calculate the mean of the data

37.666666666666664

In [4]:
weight=[32,54,54,23,12,44,33,66,45]
np.mean(weight)

40.333333333333336

In [5]:
import seaborn as sns
df=sns.load_dataset('tips')
#tips is the example of dataset inbuilt dataset in seaborn

In [6]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
np.mean(df['total_bill'])

19.78594262295082

In [8]:
#median
np.median(age)

43.0

In [10]:
age=[12,21,23,43,54,34,43,454,64]
np.mean(age)

83.11111111111111

In [11]:
np.median(age)

43.0

In [12]:
#mode
from scipy import stats

In [13]:
stats.mode(age)

ModeResult(mode=array([43]), count=array([2]))

In [14]:
np.median(df['total_bill'])

17.795