In [42]:
import numpy as np
import pandas as pd

In [43]:
np.random.seed(123)
n_sampl=1000
class_0_ratio=0.9
n_class_0=int(n_sampl*class_0_ratio)
n_class_1=n_sampl-n_class_0

In [44]:
n_class_0,n_class_1

(900, 100)

In [45]:
class0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [46]:
df=pd.concat([class0,class1]).reset_index(drop=True)

In [47]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [48]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

Upsampling

In [49]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [50]:
df_majority.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [52]:
from sklearn.utils import resample
df_minority_upsample=resample(df_minority,replace=True,##smaple with replacement
                              n_samples=len(df_majority)## to match the majority class
                              ,random_state=42 )

In [53]:
df_minority_upsample.shape

(900, 3)

In [54]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [55]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [56]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

Downsampling

In [58]:
class0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})


df=pd.concat([class0,class1]).reset_index(drop=True)

In [59]:
#this give the count of the target value with 0 and 1 
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [60]:
df_majority_downsample=resample(df_majority,replace=False,##smaple without replacement
                              n_samples=len(df_minority)## to match the minority class
                              ,random_state=42 )

In [61]:
df_majority_downsample.shape

(100, 3)

In [65]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [66]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64