Target Guided Ordinal Encoding

* It is a technique used to encode  variable based on their relationship with the target variable.This encoding technique is useful when we have a categorical variable with a large number of unique categories 
* Guided ordinal encoding we replace each category variablw with a numerical value based on the mean or median of the target variable for that category. This create a monotonic relationship between the categorical value and the target value which help to improve the predictive power of the model.

In [1]:
import pandas as pd
df=pd.DataFrame({
    'city':['Newyork','London','Paris','Tokyo','Newyork','Paris'],
    'price':[200,150,300,250,180,320]
})

In [2]:
df.head()

      city  price
0  Newyork    200
1   London    150
2    Paris    300
3    Tokyo    250
4  Newyork    180

In [9]:
#caluculate the mean price of each city
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'Newyork': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [7]:
#replace each city with its mean price
df['city_encooded']=df['city'].map(mean_price)

In [8]:
df

      city  price  city_encooded
0  Newyork    200          190.0
1   London    150          150.0
2    Paris    300          310.0
3    Tokyo    250          250.0
4  Newyork    180          190.0
5    Paris    320          310.0